<%-include('partials/header')%>

    <h1>
        <%=title%>
    </h1>
    <p>
        <%=content%>
    </p>


    <a class="btn btn-outline-dark" href="/">Back to home</a>
    <%-include('partials/footer')%>